@media (prefers-color-scheme: dark) {
  // Dark Theme
  :root {
    --background-color: black;
    --text-color: white;
    --link-color: white;
    --link-hover-color: #363636;
    --simple-color: 100%;
    --icon-invert: invert(1);
  }
}

// light Theme
:root {
  --background-color: $primary;
  --bg-color-navbar: white;
  --text-color: black;
  --link-color: black;
  --link-hover-color: #363636;
}

// Dark Theme
[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
  --link-color: white;
  --link-hover-color: #363636;
}

* {
  transition: background-color 0.5s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: transparent;
  color: var(--text-color);
}

.navbar-brand > * {
  color: var(--text-color);
}
